<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Cigar Demos</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="js-bundle/{{example}}-bundle.js" type="text/javascript"></script>
</head>

<body>
    <div class="outputWrapper" class="output">
        <h2 style="display:inline-block;">Output</h2>
        <input id="run" type="button" value="run again" />
        <hr />
        <div id="output"></div>
    </div>
    <div class="codeWrapper">
        <h2>Source code (<a href="https://github.com/stonezhong/cigar/blob/master/examples/js/{{example}}.js">github.com</a>)</h2>
        <hr />
        <div id="code">
<pre>
{% include example ~ ".js" %}
</pre>
        </div>
    </div>
</body>

</html>
