table.grid {
    border-collapse: collapse;
}
table.grid > tbody > tr >th,  table.grid > tbody > tr >td {
    padding: 4px;
    border: 1px solid;
}

pre {
    margin: 4px;
}

.outputWrapper {
    width: 300px;
    float: left;
    background-color: lightgray;
}

.codeWrapper {
    float: left;
    background-color: lightgray;
    margin-left: 4px;
}


